body {
    margin: 0%;;
}
  
  #my-canvas {
    background-color: #FFF5EE;
  }
  
  #start-btn, #restart-btn,#back-btn {
    background-color:#8B008B;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    font-size: 20px;
    margin-top: 40px;
    border-radius: 50px; 
    box-shadow: 10px 20px 20px black;
  }

  .botonStart{
    justify-content: center;
    align-items: center;
  }

  .estiloBtn {
    justify-content: space-evenly;
    align-items: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
  }

  #contador-puntos {
    position: absolute;
    text-align: center;
    text-decoration:5px underline ;
    right: 150px;
    width: 200px;
    height: 150px;
    border: 5px solid black;
    border-radius: 20px;
  }

  #contador-vidas {
    position: absolute;
    text-align: center;
    text-decoration:5px underline ;
    left: 150px;
    width: 200px;
    height: 150px;
    border: 5px solid black;
    border-radius: 20px;
  }

  #instrucciones {
    text-align: center;
    border: 5px solid black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }

  #name{
    margin-top: 40px;
    margin-bottom: 0%;
    background-color: lightslategray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    border-radius: 20px;
  }

  #titulo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    text-decoration: 5px underline;
  }
    
  
  #my-canvas, #gameover-screen{
    display: none;
  border-radius: 20px;}

   