body {
    margin: 0%;
}
  
  #my-canvas {
    background-color: #FFF5EE;
  }
  
  #start-btn, #restart-btn{
    background-color:#8B008B;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    font-size: 20px;
    margin-top: 40px;
    border-radius: 50px; 
    box-shadow: 10px 20px 20px black;
  }

  #contador-puntos {
    position: absolute;
    text-align: center;
    text-decoration:5px underline ;
    right: 150px;
    width: 200px;
    height: 150px;
    border: 5px solid black;
    border-radius: 20px;
  }

  #contador-vidas {
    position: absolute;
    text-align: center;
    text-decoration:5px underline ;
    left: 150px;
    width: 200px;
    height: 150px;
    border: 5px solid black;
    border-radius: 20px;
  }

  #instrucciones {
    text-align: center;
    font-style: italic;
    border: 5px solid black;
    
  }
  
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    
  }
  
  
  
  #my-canvas, #gameover-screen{
    display: none;}

   