body {
    margin: 0%;
}
  
  #my-canvas {
    background-color: #FFF5EE;
  }
  
  #start-btn, #restart-btn{
    background-color:#8B008B;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    font-size: 20px;
    margin-top: 40px;
    border-radius: 50px; 
  }
  #nap {
    background-color:#f06bf0;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    font-size: 20px;
    margin-top: 40px;
    border-radius: 50px; 
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
  }
  
 #my-canvas, #gameover-screen {
    display: none;
  }
  